* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body{
    position: relative;
}

#submit{
    display: none;
}

form {
  background-color: white;
  width: 400px;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9; 
  min-height: 95%;
  position: absolute;
  top: 0%;
  left: 0%;
}


.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1e293b;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  color: #334155;
  margin-bottom: 6px;
}


input,
textarea {
  border: 2px solid #cbd5e1;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 1rem;
  transition: 0.2s ease;
  background-color: #f8fafc;
}


input:focus,
textarea:focus {
  border-color: #3b82f6; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  background-color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#btn{
  color: white;
  background-color: #1e293b;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em;
  display: flex;
  justify-self: center;
  
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.btn-secondary {
  background-color: #e2e8f0;
  color: #1e293b;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}


.btn-secondary:hover {
  background-color: #cbd5e1;
}

.infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.carte {
  background-color: #737a8b;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 220px;
  text-align: center;
  
}


.carte:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.carte img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.carte h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 5px;
}

.carte p {
  color: #475569;
  font-size: 0.95rem;
  margin-bottom: 5px;
}


.carte .edit,
.carte .delete{
  background-color: #3b82f6;
  color: white;
  margin-top: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
}

.carte .edit:hover,
.carte .delete:hover {
  background-color: #2563eb;
}


@media (max-width: 500px) {
  form {
    width: 90%;
    padding: 25px;
  }

  .infos {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
}


